*.out
*.pdb
*.png
*.jpg
*.pth
*.json

__pycache__/
.env
*.log
*.csv
*.pth
runs/
results/

slurm/logs/*.out
slurm/logs/*.err
!slurm/logs/.gitkeep

.ipynb_checkpoints/
.vscode/
.virtual_documents/
biollmcomposition.egg-info/